#container {
	margin: auto;
  	width: 70%;
 	overflow: hidden;
 	font-family: sans-serif;
}

.content-title {
	width: 100%;
	text-align: center;
}

#title {
	font-weight: bold;
	font-size: 4vw;
}


.content-input {
	margin-top: 100px;
	width: 100%;
}


#inputLabel {
	font-size: 20px;
	opacity: 80%;
	position: relative;
	bottom: 3px;
}

#textInput {
	margin-right: 5%;
	width: 70%; 
	height: 50px;
	background-color: #f7f7f7;
	border-radius: 10px;
	border: 2px solid #d9dadb;
	font-size: 30px;
}

#addButton {
	width: 21%;
	color: white;
	font-weight: bold;
	background-color: #4842f5;
	float: right;
	height: 56px;
	font-size: 20px;
	border-radius: 10px;
	cursor: pointer;
}

#contentAddOns {
	width: 100%;
	margin-top: 55px;
}

#counterText {
	font-size: 20px;
	opacity: 80%;
}

#removeAll {
	font-size: 20px;
	color: #4842f5;
	float: right;
	font-weight: bold;
	cursor: pointer;
}

#counter {
	color: red;
}

.content-list {
	width: 100%;
}

ul {
	padding-left: 0;
}

li {
	width: 100%;
	height: 40px;
	color: red;
	background-color: #e3e3e3;
	margin-bottom: 15px; 
	list-style-type: none;
	text-align: center;
	opacity: 70%;
	border-radius: 10px;
	font-size: 20px;
	line-height: 40px;
}

li:hover {
	color: white;
	background-color: red;
	cursor: pointer;
}

#list li {
  transition: all 0.4s ease-out;
  opacity: 0;
}

#list li.show {
  opacity: 1;
}